<div class="container mx-auto">
  <div class="row">
    <!-- Menu Item Details-->
    <div class="col-lg-6 col-lg-12 ">
      <div class="card shadow mb-4 ">
        <!-- Card Header -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between border-bottom-primary">
          <h6 class="m-0 font-weight-bold text-center text-dark justify-content-between ">Add Menu Item</h6>
        </div>
        <!-- Main Item Add Content -->
        <div class="card-body">
          <%= form_with model: @menuitem, url: menuitems_new_path, method: :post, local: true do |f| %>
            <div class="form-group">
              <label>Name</label>
              <%= f.text_field :name, autofocus: true, autocomplete: "name",class:"form-control",placeholder:"Name" %>
            </div>
            <div class="form-group">
              <label>Price</label>
              <%= f.number_field :price, autofocus: true, autocomplete: "price",class:"form-control",placeholder:"Price" %>
            </div>
            <div class="form-group">
              <label>Status</label>
              <%= f.text_field :status, autofocus: true, autocomplete: "status",class:"form-control",placeholder:"Status" %>
            </div>
            <div class="file-upload-wrapper">
              <%= f.file_field :cover_photo, autofocus: true,class:"file-upload", dataheight:"500" %>
            </div>
            <hr>
            <%= f.submit "Add Item", class:"btn btn-primary btn-user btn-block mb-sm-2 btn-sm"%>
          </div>
        </div>
        <!--ends here-->
      </div>
    <%end%>
  </div>
</div>
</div>
