<!-- Topbar -->
<nav class="navbar navbar-expand navbar-dark bg-dark topbar mb-4 static-top shadow">
  <a class="navbar-brand" href="#">
    <%= image_tag 'newfood.jpg', width:"40", height:"30" ,class:"d-inline-block align-top img-profile rounded-circle" %>
    Food Mania
  </a>
  <!-- Topbar Navbar -->
  <ul class="navbar-nav ml-auto">
    <%unless current_admin.blank? -%>
      <div class="topbar-divider d-none d-lg-block"></div>
      <!-- Nav Item - User Information -->
      <li class="nav-item dropdown no-arrow">
        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="mr-2 d-none d-lg-inline text-black-600 large"><%= current_admin.email.split("@")[0]%></span>
          <img class="img-profile rounded-circle" src="img/undraw_profile.svg">
        </a>
        <!-- Dropdown - User Information -->
        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
          <%= link_to edit_admin_registration_path, class:'dropdown-item' do %>
            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
            Edit Profile
          <%end%>
          <a class="dropdown-item" href="#">
            <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
            Settings
          </a>
          <a class="dropdown-item" href="#">
            <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
            Activity Log
          </a>
          <div class="dropdown-divider"></div>
          <!-- Adding the link to sign_out of the current profile -->
          <!-- Making the logout link functional -->
          <%= link_to destroy_admin_session_path, method: :delete, class:'dropdown-item' do %>
            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
            Logout
          <%end%>
        </div>
      </li>
    <%else%>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to new_admin_session_path do%>
            <button  class="btn btn-default navbar-btn text-gray-200"><%= image_tag 'log-in.png', height:"20px", width:"20px"%> Sign In</button>
            <%# <span class="glyphicon glyphicon-user">Sign In</span> %>
          </li>
        <%end%>
        <li><%= link_to new_admin_registration_path do%>
            <%# <span class="glyphicon glyphicon-user">Sign Up</span> %>
            <%# <%= image_tag 'icons8-log-out-32'%>
            <button  class="btn btn-default navbar-btn text-gray-200"><%= image_tag 'add-user.png', height:"20px", width:"20px"%> Sign Up</button>
          </li>
        </ul>
      <%end%>
    <%end%>
  </ul>
</nav>
<!-- End of Topbar -->
